
h1 {
 color: red ;
 }


.Header{
    background-color: rgb(255, 255, 0);
    display: flex;
    justify-content : space-between;
}
.grid {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly ;
}
p,h2 {
text-align: center;
}


